<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">
  	<img src="assets/imgs/logo.png"></a>
  <form class="form-inline nav-buttons">
    <button class="btn" >Join Now</button>
    <button class="btn btn-outline-success my-2 my-sm-0" >Sign Up</button>
  </form>
</nav>



<div class="containerAll">
	<div class="home-section">
		<div class="home-section-texts">
			<h1>
				Welcome to your professional community
			</h1>
    		<button class="btn btn-outline-success my-2 my-sm-0" >Join us now!</button>
		</div>

		<div class="home-section-image">
			<img src="assets/imgs/meeting.png">
		</div>
	</div>

	<div class="work-section">
		<div class="work-content">
		<div class="work-section-texts">
			<h1>
				Find the right job for or internship for you.
			</h1>
    	
		</div>

		<div class="work-section-jobs">
			<h4>
				SUGGESTED SEARCHES
			</h4>
			<div class="work-job-content">
				<div class="jobs" *ngFor = "let job of jobs">
					{{ job.name }}
				</div>
			</div>
		</div>

		</div>
	</div>

	<div class="post-section">
		<div class="post-section-texts">
			<h1>
				Post your job for a million people to see
			</h1>
    		
		</div>

		<div class="post-section-info">
			
    		<button class="btn btn-outline-secondary my-2 my-sm-0" >Post a job</button>
		</div>
	</div>	


	<div class="join-section">
		<div class="join-section-texts">
			<h1>
				Join now for the pursuit of your careers on Job App
			</h1>
    		<button class="btn btn-success my-2 my-sm-0" >Get Started</button>
		</div>

		<div class="join-section-info">
			
    		<img src="assets/imgs/meeting.png">
		</div>
		<div class="mt-2 pt-4 footer">
<div class="container">
  <div class="row">
    <div class="col-lg-5 col-xs-12 about-company">
      <h2>On Job Ph</h2>
      <p class="pr-5 text-white-50">Welcome to your professional community. Find the job or intership that suits you.</p>
      <p><a href="#"><i class="fab fa-facebook-square mr-1"></i></a><a href="#"><i class="fab fa-linkedin"></i></a></p>
    </div>
    <div class="col-lg-3 col-xs-12 links">
      <h4 class="mt-lg-0 mt-sm-3">Explore</h4>
        <ul class="m-0 p-0">
          <li>- <a href="#">On Ph</a></li>
          <li>- <a href="#">About Us</a></li>
          <li>- <a href="#">Terms of Use</a></li>
          <li>- <a href="#">Privacy Policy</a></li>
          <li>- <a href="#">Job Search</a></li>
          <li>- <a href="#">How to Use?</a></li>
        </ul>
    </div>
    <div class="col-lg-4 col-xs-12 location">
      <h4 class="mt-lg-0 mt-sm-4">Location</h4>
      <p>Sitka, United States</p>
      <p class="mb-0"><i class="fa fa-phone mr-3"></i>(541) 754-3010</p>
      <p><i class="fas fa-envelope mr-3"></i>info@onph.com</p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col copyright">
      <p class=""><small class="text-white-50">© 2019. All Rights Reserved.</small></p>
    </div>
  </div>
</div>
</div>
	</div>	

</div>

