::ng-deep {
    .mat-calendar-body-selected {
        background: rgb(3,168,91);
    }
}

.form_details {
    margin: auto;
}
.form-control:focus {
    border-color: rgba(230, 110, 12, .5) !important;
    box-shadow: 0 0 0 0.2rem rgba(230, 110, 12, .5) !important;
}
.next_button {
    width: 100%;
    background: rgb(3,168,91);
    color: #ffffff;
    font-size: 1.1rem;
}
.next_button:disabled {
    background: rgba(3, 168, 91, 0.356);
}
.form-group {
    label {
        font-size: .8rem;
        margin-bottom: .2rem;
    }
    .date_picker {
        width: 100%;
        display: flex;
        input {
            width: 100%;
            height: calc(1.5em + .75rem + 2px);
            padding: .375rem .75rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: .25rem 0rem 0rem .25rem;
            border-right: none;
        }
        .icon_picker {
            border: 1px solid #ced4da;
            border-radius: 0rem .25rem .25rem 0rem; 
            border-left: none;
            color: #495057 !important;
            ::ng-deep .mat-icon-button {
                height: 30px !important;
            }
        }
    }
}