<div class="body">
<app-app-navbar></app-app-navbar>

<div class="container" *ngFor="let jobOffer of  jobOffers">
  <div class="home-content">
      <div class="job-offer-header">
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center">
           <img class="img" src="assets/imgs/logo.png" >
          </li>
        </ul>
         <div class="row row-content" style="">
             <div class="col-md-3">
              <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                 <b class="top-salary-header"> Salary:</b>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <b class="top-qualification-header">Qualification:</b>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <b class="top-desc-header">Description: </b>
                </li>
               </ul>
             </div>
             <div class="col-md-9 list-content">
              <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <h6 class="job-title">{{ jobOffer.position }}</h6>    
                  <span class="badge">
                      <div class="header-actions">
                              <button mat-icon-button [matMenuTriggerFor]="menu"><i class="material-icons">more_vertz</i></button>
                              <mat-menu color="primary" #menu="matMenu" class="menu" xPosition="before">
                                  <button mat-menu-item><i class="far fa-bookmark"></i> <span class="item">Mark as Closed</span></button>
                                  <button mat-menu-item><i class="far fa-bookmark"></i> <span class="item">Delete</span></button>
                                    <button mat-menu-item><i class="far fa-bookmark"></i> <span class="item">Update</span></button>
                              </mat-menu>
                          </div>
                    </span> 
                 </li>
                <li class="list-group-item d-flex justify-content-between align-items-center ">
                 <p class="top-company"><i class="fa fa-building-o" aria-hidden="true"></i>{{ jobOffer.company }}</p>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <p class="top-applicant"><b>Applicants:</b> ({{jobOffer.applicants}})</p> 
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  <p class="top-date"><b>Posted:</b> {{ jobOffer.date }}</p> 
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center bottom-divider">
                  <p class="top-salary">&#8369;{{ jobOffer.salary }}</p>
                 </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center">
                  <mat-chip-list class="qaulification">
                    <mat-chip *ngFor="let option of  qualifications">
                      {{ option.name}}
                    </mat-chip> 
                   </mat-chip-list>
                </li>
                 <li class="list-group-item d-flex justify-content-between align-items-center">
                   <p class="desc">{{ jobOffer.descriptions }} </p>
                 </li>
               </ul>
               <br>
            </div>
             </div>
         </div>
    </div>
   

 

    <div class="home-content">
      <div class="job-offer-header">
        <mat-tab-group>
          <mat-tab>
            <ng-template mat-tab-label>
               Applicants (4)
            </ng-template>
                <!--<div class="example-header">
                  <mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                  </mat-form-field>
                </div>  -->
                
                <div class="example-container mat-elevation-z8 container">
                  <mat-table [dataSource]="dataSource" matSort>
                
                  <!---- ID Column
                    <ng-container matColumnDef="id">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
                      <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
                    </ng-container>    -->
                
                      <!-- Name Column -->
                    <ng-container matColumnDef="name">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Name</mat-header-cell>
                      <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
                    </ng-container>
                
                    <!-- Date Column -->
                    <ng-container matColumnDef="date">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Date </mat-header-cell>
                      <mat-cell *matCellDef="let row"> {{row.date}} </mat-cell>
                    </ng-container>
      

                    
                    <!-- Action Column -->
                    <ng-container matColumnDef="actions">
                      <mat-header-cell  *matHeaderCellDef > Actions </mat-header-cell>
                      <mat-cell *matCellDef="let row" >               <!--Modal pop up-->
                            <button class="mat-btn" mat-button  (click)="ViewApplicant()">View</button> | 
                            <button class="mat-btn" mat-button  (click)="UpdateApplicant()">Update</button>
                      </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;">
                    </mat-row>
                  </mat-table>
                  
                  
                  <mat-paginator [length]="100"
                  [pageSize]="5"
                  [pageSizeOptions]="[5, 10, 25, 100]">
                  </mat-paginator>
                </div>
           </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              Interviewed (2)
            </ng-template>
              <!--<div class="example-header">
                  <mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                  </mat-form-field>
                </div>  -->
                
                <div class="example-container mat-elevation-z8 container">
                  <mat-table [dataSource]="dataSource_int" matSort>
                
                  <!---- ID Column
                    <ng-container matColumnDef="id">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
                      <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
                    </ng-container>    -->
                
                      <!-- Name Column -->
                    <ng-container matColumnDef="name">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Name</mat-header-cell>
                      <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
                    </ng-container>
                
                    <!-- Date Column -->
                    <ng-container matColumnDef="date">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Date </mat-header-cell>
                      <mat-cell *matCellDef="let row"> {{row.date}} </mat-cell>
                    </ng-container>
      

                    
                    <!-- Action Column -->
                    <ng-container matColumnDef="actions">
                      <mat-header-cell  *matHeaderCellDef > Actions </mat-header-cell>
                      <mat-cell *matCellDef="let row" >
                            <button class="mat-btn" mat-button  (click)="ViewApplicant()">View</button> | 
                            <button class="mat-btn" mat-button  (click)="UpdateApplicant()">Update</button>
                      </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns_int"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns_int;">
                    </mat-row>
                  </mat-table>
                  
                  
                  <mat-paginator [length]="100"
                  [pageSize]="5"
                  [pageSizeOptions]="[5, 10, 25, 100]">
                  </mat-paginator>
                </div>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
                Invited (4)
            </ng-template>
                   <!--<div class="example-header">
                  <mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                  </mat-form-field>
                </div>  -->
                
                <div class="example-container mat-elevation-z8 container">
                  <mat-table [dataSource]="dataSource_invi" matSort>
                
                  <!---- ID Column
                    <ng-container matColumnDef="id">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
                      <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
                    </ng-container>    -->
                
                      <!-- Name Column -->
                    <ng-container matColumnDef="name">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Name</mat-header-cell>
                      <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
                    </ng-container>
                
                    <!-- Date Column -->
                    <ng-container matColumnDef="date">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Date </mat-header-cell>
                      <mat-cell *matCellDef="let row"> {{row.date}} </mat-cell>
                    </ng-container>
      

                    
                    <!-- Action Column -->
                    <ng-container matColumnDef="actions">
                      <mat-header-cell  *matHeaderCellDef > Actions </mat-header-cell>
                      <mat-cell *matCellDef="let row" >
                           <button class="mat-btn" mat-button  (click)="ViewApplicant()">View</button> | 
                            <button class="mat-btn" mat-button  (click)="UpdateApplicant()">Update</button>
                      </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns_invi"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns_invi;">
                    </mat-row>
                  </mat-table>
                  
                  
                  <mat-paginator [length]="100"
                  [pageSize]="5"
                  [pageSizeOptions]="[5, 10, 25, 100]">
                  </mat-paginator>
                </div>
        
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
               Rejected (3)
            </ng-template>
                   <!--<div class="example-header">
                  <mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                  </mat-form-field>
                </div>  -->
                
                <div class="example-container mat-elevation-z8 container">
                  <mat-table [dataSource]="dataSource_int" matSort>
                
                  <!---- ID Column
                    <ng-container matColumnDef="id">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
                      <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
                    </ng-container>    -->
                
                      <!-- Name Column -->
                    <ng-container matColumnDef="name">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Name</mat-header-cell>
                      <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
                    </ng-container>
                
                    <!-- Date Column -->
                    <ng-container matColumnDef="date" class="date-column">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Date </mat-header-cell>
                      <mat-cell *matCellDef="let row"> {{row.date}} </mat-cell>
                    </ng-container>
      

                    
                    <!-- Action Column -->
                    <ng-container matColumnDef="actions">
                      <mat-header-cell  *matHeaderCellDef > Actions </mat-header-cell>
                      <mat-cell *matCellDef="let row" >
                            <button class="mat-btn" mat-button  (click)="ViewApplicant()">View</button> | 
                            <button class="mat-btn" mat-button  (click)="UpdateApplicant()">Update</button>
                      </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns_rej"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns_rej;">
                    </mat-row>
                  </mat-table>
                  
                  
                  <mat-paginator [length]="100"
                  [pageSize]="5"
                  [pageSizeOptions]="[5, 10, 25, 100]">
                  </mat-paginator>
                </div>
         
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>

<div class="mt-2 pt-4 footer">
<div class="container">
  <div class="row">
    <div class="col-lg-5 col-xs-12 about-company">
      <h2>On Job Ph</h2>
      <p class="pr-5 text-white-50">Welcome to your professional community. Find the job or intership that suits you.</p>
      <p><a href="#"><i class="fab fa-facebook-square mr-1"></i></a><a href="#"><i class="fab fa-linkedin"></i></a></p>
    </div>
    <div class="col-lg-3 col-xs-12 links">
      <h4 class="mt-lg-0 mt-sm-3">Explore</h4>
        <ul class="m-0 p-0">
          <li>- <a href="#">On Ph</a></li>
          <li>- <a href="#">About Us</a></li>
          <li>- <a href="#">Terms of Use</a></li>
          <li>- <a href="#">Privacy Policy</a></li>
          <li>- <a href="#">Job Search</a></li>
          <li>- <a href="#">How to Use?</a></li>
        </ul>
    </div>
    <div class="col-lg-4 col-xs-12 location">
      <h4 class="mt-lg-0 mt-sm-4">Location</h4>
      <p>Sitka, United States</p>
      <p class="mb-0"><i class="fa fa-phone mr-3"></i>(541) 754-3010</p>
      <p><i class="fas fa-envelope mr-3"></i>info@onph.com</p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col copyright">
      <p class=""><small class="text-white-50">© 2019. All Rights Reserved.</small></p>
    </div>
  </div>
</div>
</div>