<div class="body">
  <div class="container w-100">
    <br>
    <div div class="row">
      <div class="col-5">
        <div class="row">
          <mat-card>
            <div class="row">
              <div class="col-9">
                <mat-card-title-group>
                  <mat-card-title class="mb-0">{{jobOffers[0].position}}</mat-card-title>
                  <mat-card-subtitle class="text-dark"><i class="far fa-calendar-check"></i>&nbsp;{{jobOffers[0].date}} 
                  (<span class="text-dark">&#8369;{{jobOffers[0].salary}}</span>)</mat-card-subtitle>
                </mat-card-title-group>
              </div>
              <div class="col-3">
                <button mat-icon-button [matMenuTriggerFor]="menu">
                  <mat-icon class="ml-5">more_vertz</mat-icon>
                </button>
                <mat-menu color="primary" #menu="matMenu" class="menu" xPosition="before">
                  <button mat-menu-item>
                    <i class="far fa-bookmark"></i>
                    <span class="item">&nbsp;Mark as Closed</span>
                  </button>
                  <button mat-menu-item (click)="goToJob(Job.id)">
                    <i class="far fa-eye"></i>
                    <span class="item">&nbsp;View</span>
                  </button>
                  <button mat-menu-item>
                    <i class="fas fa-times"></i>
                    <span class="item">&nbsp;Delete</span>
                  </button>
                  <button mat-menu-item (click)="updateJobOffer(Job.id)">
                    <i class="fas fa-pen-alt"></i>
                    <span class="item">&nbsp;Update</span>
                  </button>
                </mat-menu>
              </div>
            </div>
            <mat-card-content>
              <div class="mb-3">
                {{jobOffers[0].descriptions}}
              </div>
              <mat-chip-list class="qaulification">
                <mat-chip class="text-light" *ngFor="let option of  qualifications">
                  {{ option.name}}
                </mat-chip>
              </mat-chip-list>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="row mt-2">
          <mat-card class="w-100">
            <div class="row">
              <div class="col-4">
                <img class="img" src="assets/imgs/logo.png">
              </div>
              <div class="col-8">
                <h5 class="text-success mb-0">Paul Justine Arzanmendez</h5>
                <span class="text-secondary small">1-4 Years Experienced Employee</span>
                <div class="mt-1">
                  <div class="small"><i class="fas fa-university"></i>&nbsp;Bachelors Degree in Information Technology</div>
                  <div class="small"><span class="fw-500">Age:</span> &nbsp;25 yrs old</div>
                  <div class="small"><span class="fw-500">Role:</span> Software Engineer/Programmer</div>
                  <div class="small"><span class="fw-500">Mastery:</span> Intermediate</div>
                </div>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
      <div class="col-7">
        <mat-card class="pb-0">
          <mat-tab-group>
            <mat-tab>
              <ng-template mat-tab-label>
                Applicants
              </ng-template>
              <table class="table table-striped small">
                <thead>
                  <tr>
                    <td scope="col">Name</td>
                    <td scope="col">Date</td>
                    <td scope="col">Expected Salary</td>
                  </tr>
                </thead>
                <tbody>
                  <tr class="select" *ngFor="let app of applicantsToShow, let i=index;">
                    <td class="w-50">{{app.name}}</td>
                    <td>{{app.date}}</td>
                    <td>&#8369;18,000</td>
                  </tr>
                </tbody>
              </table>
              <mat-paginator [length]="100" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]">
              </mat-paginator>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                Interviewed
              </ng-template>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                Considered
              </ng-template>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                Rejected
              </ng-template>
            </mat-tab>
          </mat-tab-group>
        </mat-card>
      </div>
    </div>
  </div>
</div>

<div class="mt-2 pt-4 footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-xs-12 about-company">
        <h2>On Job Ph</h2>
        <p class="pr-5 text-white-50">Welcome to your professional community. Find the job or intership that suits you.
        </p>
        <p><a href="#"><i class="fab fa-facebook-square mr-1"></i></a><a href="#"><i class="fab fa-linkedin"></i></a>
        </p>
      </div>
      <div class="col-lg-3 col-xs-12 links">
        <h4 class="mt-lg-0 mt-sm-3">Explore</h4>
        <ul class="m-0 p-0">
          <li>- <a href="#">On Ph</a></li>
          <li>- <a href="#">About Us</a></li>
          <li>- <a href="#">Terms of Use</a></li>
          <li>- <a href="#">Privacy Policy</a></li>
          <li>- <a href="#">Job Search</a></li>
          <li>- <a href="#">How to Use?</a></li>
        </ul>
      </div>
      <div class="col-lg-4 col-xs-12 location">
        <h4 class="mt-lg-0 mt-sm-4">Location</h4>
        <p>Sitka, United States</p>
        <p class="mb-0"><i class="fa fa-phone mr-3"></i>(541) 754-3010</p>
        <p><i class="fas fa-envelope mr-3"></i>info@onph.com</p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col copyright">
        <p class=""><small class="text-white-50">© 2019. All Rights Reserved.</small></p>
      </div>
    </div>
  </div>
</div>