<nav class="navbar">
    <div class="main-content">
        <a class="navbar-brand">
            <img src="assets/imgs/logo.png"></a>
        <form class="form-inline input">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"></span>
                </div>
                <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>
        </form>
        <ul class="nav-list">
            <li routerLink="/home" class="mt-2 mr-4"><i class="fas fa-home"></i><br><a href="">Home</a></li>
            <li class="mt-2 mr-4"><i class="fas fa-search"></i><br><a href="">Jobs</a></li>
            <li class="mt-2 mr-2"><i class="fas fa-users"></i><br><a href="">Companies</a></li>
            <li class="mt-2 mr-2" routerLink="/employee/notifications"><i class="fas fa-bell"></i><br><a href="">Notifications</a></li>
            <li routerLink="/employee/profile" class="mt-2 mr-2"><i class="fas fa-user-circle"></i><br><a href="">Me</a></li>
        </ul>
    </div>

</nav>