<nav class="navbar">
    <div class="main-content">
 <a class="navbar-brand">
        <img src="assets/imgs/logo.png"></a>
        <form class="form-inline input">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"></span>
                </div>
                <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>
        </form>
    <ul class="nav-list">
       <li routerLink="/home"> <i class="fas fa-home"></i><a href="">Home</a></li>
        <li><i class="fas fa-search"></i><a href="">Jobs</a></li>
        <li><i class="fas fa-users"></i><a href="">Companies</a></li>
        <li routerLink="/employee/profile"><i class="fas fa-user-circle"></i><a >Me</a></li>
    </ul>
    </div>
   
</nav>