<div class="body">
  <br>
  <div class="container">
    <div class="row">
      <mat-card class="w-100 pb-0">
        <div class="row">
          <div class="col-9">
            <mat-card-title-group>
              <mat-card-title class="text-dark">Job Offer Lists</mat-card-title>
              <mat-card-subtitle>See and manage your organization's job offers...</mat-card-subtitle>
            </mat-card-title-group>
          </div>
          <div class="col-3">
            <button mat-raised-button class="post-job-btn" routerLink="/employer/company-job-offer-create"><span>Post a
                Job</span></button>
          </div>
        </div>
        <mat-card-content>
          <mat-tab-group>
            <mat-tab>
              <ng-template mat-tab-label>
                Open
              </ng-template>
              <ul class="list-group list-group-flush">
                <li class="list-group-item" *ngFor="let Job of currentItemsToShow , let i=index;">
                  <div class="row">
                    <div class="col-9">
                      <h6 class="text-dark job-title" (click)="goToJob(Job.id)">{{Job.position}}</h6>
                      <span class="text-secondary">&#8369;{{Job.salary}}&ensp;</span>
                      <span class="text-secondary"><i
                          class="fas fa-user-tie"></i>&nbsp;({{Job.applicants}})&nbsp;</span><br>
                      <span class="text-secondary">{{Job.descriptions}}</span>
                    </div>
                    <div class="col-3 text-dark pr-0">
                      <div class="float-right">
                        <span>
                          <i class="far fa-clock"></i>&nbsp;{{Job.date}}
                        </span>
                        <button mat-icon-button [matMenuTriggerFor]="menu">
                          <mat-icon>more_vertz</mat-icon>
                        </button>
                        <mat-menu color="primary" #menu="matMenu" class="menu" xPosition="before">
                          <button mat-menu-item>
                            <i class="far fa-bookmark"></i>
                            <span class="item">&nbsp;Mark as Closed</span>
                          </button>
                          <button mat-menu-item (click)="goToJob(Job.id)">
                            <i class="far fa-eye"></i>
                            <span class="item">&nbsp;View</span>
                          </button>
                          <button mat-menu-item>
                            <i class="fas fa-times"></i>
                            <span class="item">&nbsp;Delete</span>
                          </button>
                          <button mat-menu-item (click)="updateJobOffer(Job.id)">
                            <i class="fas fa-pen-alt"></i>
                            <span class="item">&nbsp;Update</span>
                          </button>
                        </mat-menu>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <mat-paginator (page)="onPageChange($event)" [length]="100" [pageSize]="5" class="bg-white text-secondary"
                [pageSizeOptions]="[5, 10, 25, 100]">
              </mat-paginator>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                Close
              </ng-template>
            </mat-tab>
          </mat-tab-group>
        </mat-card-content>
      </mat-card>
    </div>
    <br>
  </div>
</div>