<!-- <div id="personal-details" [formGroup]="regForm">
    <div class="form-group" formGroupName="personalDetails">
        <label>Firstname*</label>
        <input type="text" class="form-control" formControlName="firstname">
    </div>
    <div class="form-group" formGroupName="personalDetails">
        <label>MI</label>
        <input type="text" class="form-control" formControlName="mi">
    </div>
    <div class="form-group" formGroupName="personalDetails">
        <label>Lastname*</label>
        <input type="text" class="form-control" formControlName="lastname">
    </div>
</div>
<br />
<button mat-button matStepperNext (click)="submitted()" class="next_button">Next</button> -->