<div class="body">
  <app-app-navbar></app-app-navbar>
  
  <div class="container">
    <!--PROFILE HEADER-->
   <div class="home-content">
    <div class="profile-header">
      <mat-card class="profile-header-content">
        <img mat-card-image src="assets/imgs/cover.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content class="texts">
          <div class="actions">
            <div mat-card-avatar class="profile-photo"></div>
          </div>
          <h2>Welcome {{ user }}</h2>
          <div class="contacts">
            <h3>Software Engineer</h3>
            <h3>North California, United States of America</h3>
            <h3 class="contact-link">Update my Profile</h3>
          </div>
        </mat-card-content>
        <mat-card-footer class="profile-content-footer">
          <h3 routerLink="/saved-jobs"><i class="far fa-bookmark"></i> Saved Jobs</h3>
        </mat-card-footer>
      </mat-card>
      <!-- Applied Jobs -->
      <mat-card class="profile-header-content">
        <h2 class="title">Applied Jobs</h2>
        <mat-card-content class="all-jobs" *ngFor="let applied of appliedJobs">
          <div class="jobs">
            <h2 class="company"> {{ applied.company }}</h2>
            <h3 class="position">{{ applied.position }}</h3>
            <hr class="apJ-divider">
          </div>
        </mat-card-content>
        <mat-card-footer class="profile-jobs-content-footer">
          <h3>Show All</h3>
        </mat-card-footer>
      </mat-card>
    </div>
  
    <div class="card-content" >
      <mat-card>
          <mat-card-content class="mat-card-notification_header">
            <div class="">
            <p class="title-notif ">Notifications</p>
                <hr class="card-notif-body">
            </div>
          <p class="notif-footer" >
          You’re all caught up!Check back later for new notifications
          </p>
        </mat-card-content>
       </mat-card>
  
          <!-------- -->
  
      <mat-card class="mat-card-1">
          <mat-card-title class="mat-card-title-2">
          Earlier
          <hr class="diverder_E_R">
        </mat-card-title>
        <mat-card-content >
          <p class="title-2" style="margin-top: 25px;">
             <b>There's no new notification yet</b>
         </p>
        </mat-card-content>
       </mat-card>
  
          <!--- -->
         <mat-card class="sas" style="height: 25px; padding-bottom: 25px;">
         <mat-card-title class="mat-card-title-2" style="padding-bottom: 10px;">
         Recent
         </mat-card-title>
        </mat-card>
         <mat-card class="mat-card-1" *ngFor="let  sample of samples" style="margin-top: -10px;" >
         <mat-card-content class="card-content mat-card-1-content " >
               <div class="row notif-body" style="margin-top: 8px;" >
                    <div class="col-md-2">
                      <img src="{{sample.image}}" class="rounded-circle img-notif"  height="50px" width="50px" />
                    </div>
                    <div class="col-md-6">
                    <p class="text-notif">
                    <a routerLink="">
                      <b>{{sample.name}}</b>
                      </a>
                      <br>
                    Viewed your profile<br>
                      Notification details here..... 
                      </p>
                    </div>
                    <div class="col-md-4">
                     <p class="text-notif"> 
                     2 hrs ago<br>
                      May 20, 2021  
                      </p>
                    </div>
                </div>
        </mat-card-content>
       </mat-card>
    </div>
  
    <div class="top-companies">
      <div class="container top_comp_title"  >
        <p class="top_comp_name" style="margin-top: 2px; ">Top Companies</p>
        <hr style="margin-top: -15px; width: 240px; margin-left: -17px; ">
              <p class="opp" style="font-size: 13px;">Here's a great opportunity awaits you</p>
      </div>
      <div class="container" style="background: white;">
          <ul class="list-group list-group-flush" *ngFor="let company of companies" >
        <li class="list-group-item d-flex justify-content-between align-items-center" style="font-size: 13px;  color:gray;  padding-left: -70px; text-align: left; margin-left: -5px; margin-right: -5px; height: 45px;">
            <p style="margin-left: -20px; margin-right: 30px; margin-top: 22px;">{{ company.name }}</p>
          <a routerLink="">
          <span class="badge badge-primary badge-pill">apply now</span>
          </a>
        </li>
      </ul>
      </div>
      <mat-card class="dis_work_card">
          <mat-card-content class="">
            <p><b class="dis_work_title">Discover more than just a workplace</b></p>
          <p class="comp_search_title"> 
          <input type="search" name="search" class="form-control" placeholder="Search for a Company..." style="font-size:9pt">
                   <br>
          <button type="submit" class="btn btn-primary" routerLink="" style="margin-top: -10px;
        background: rgb(230, 110, 12) !important; border-color: orange ; font-size: 12px;">Seacrh</button>
          
          </p>
        </mat-card-content>
       </mat-card>
  
    </div>
    </div>
  </div>
  
  
   <!-- footer -->
  
   
  <div class="mt-2 pt-4 footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-xs-12 about-company">
        <h2>On Job Ph</h2>
        <p class="pr-5 text-white-50">Welcome to your professional community. Find the job or intership that suits you.</p>
        <p><a href="#"><i class="fab fa-facebook-square mr-1"></i></a><a href="#"><i class="fab fa-linkedin"></i></a></p>
      </div>
      <div class="col-lg-3 col-xs-12 links">
        <h4 class="mt-lg-0 mt-sm-3">Explore</h4>
          <ul class="m-0 p-0">
            <li>- <a href="#">On Ph</a></li>
            <li>- <a href="#">About Us</a></li>
            <li>- <a href="#">Terms of Use</a></li>
            <li>- <a href="#">Privacy Policy</a></li>
            <li>- <a href="#">Job Search</a></li>
            <li>- <a href="#">How to Use?</a></li>
          </ul>
      </div>
      <div class="col-lg-4 col-xs-12 location">
        <h4 class="mt-lg-0 mt-sm-4">Location</h4>
        <p>Sitka, United States</p>
        <p class="mb-0"><i class="fa fa-phone mr-3"></i>(541) 754-3010</p>
        <p><i class="fas fa-envelope mr-3"></i>info@onph.com</p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col copyright">
        <p class=""><small class="text-white-50">© 2019. All Rights Reserved.</small></p>
      </div>
    </div>
  </div>
  </div>
  
  </div>
  