<div class="body">
<app-app-navbar></app-app-navbar>


<div class="container">
	<!--PROFILE HEADER-->
	<div class="profile-header">
	<mat-card class="profile-header-content">
		<img mat-card-image src="assets/imgs/cover.jpg" alt="Photo of a Shiba Inu">
		<mat-card-content class="texts">
			<div class="actions">
				<div mat-card-avatar class="profile-photo"></div>
			</div>
			<div class="buttons">
				<mat-card-actions class="buttons-content">
					<button mat-button class="add-section">Visit Website</button>
					<!-- <mat-menu  color="primary" #menu="matMenu" class="menu">
					  <button mat-menu-item> <span class="item">Experience</span> <i class="fas fa-plus-circle"></i></button>
					  <button mat-menu-item> <span class="item">Education</span> <i class="fas fa-plus-circle"></i></button>
					  <button mat-menu-item> <span class="item">Skills</span> <i class="fas fa-plus-circle"></i></button>
					  <button mat-menu-item> <span class="item">Additional Information</span> <i class="fas fa-plus-circle"></i></button>
					  <button mat-menu-item> <span class="item">About</span> <i class="fas fa-plus-circle"></i></button>
					</mat-menu> -->
					<!-- <button mat-button class="pdf-section">Save as PDF</button> -->
					<!-- <button mat-button class="edit-section"><i class="fas fa-pencil-alt"></i></button> -->
				</mat-card-actions>
			</div>
			<h2>iPhiTech IT and Digital Solutions</h2>
			<h3>Information Technology & Services</h3>
			<!-- <div class="contacts">
				<h3>North California, United States of America</h3>
				<h3 class="contact-link">Contact Info</h3>
			</div> -->
		</mat-card-content>
		
	</mat-card>
	</div>

	<div class="profile-education">
	<mat-card class="profile-education-content">
		<mat-card-title><i class="fas fa-briefcase"></i>  Company Details</mat-card-title>
		<mat-card-content class="texts">
		<div *ngFor="let company of companyDetails" class="experience-content">
			<div class="content">
				<div class="employment">
					<h5><i class="fas fa-globe"></i>   Website</h5>
				</div>
				<div class="info">
					<h4 class="orange">{{ company.website }}</h4>
				</div>
			</div>

			<div class="content">
				<div class="employment">
					<h5><i class="fas fa-industry"></i>   Industry</h5>
				</div>
				<div class="info">
					<h5>{{ company.industry }}</h5>
				</div>
			</div>

			<div class="content">
				<div class="employment">
					<h5><i class="fas fa-users"></i>   Company Size</h5>
				</div>
				<div class="info">
					<h5>{{ company.companySize }}</h5>
				</div>
			</div>

			<div class="content">
				<div class="employment">
					<h5><i class="fas fa-globe"></i>   Website</h5>
				</div>
				<div class="info">
					<h5>{{ company.website }}</h5>
				</div>
			</div>

			<div class="content">
				<div class="employment">
					<h5><i class="fas fa-globe"></i>   Website</h5>
				</div>
				<div class="info">
					<h5>{{ company.website }}</h5>
				</div>
			</div>
		</div>

		</mat-card-content>
		
	</mat-card>

	</div>

	<!-- <div class="profile-education">

		<mat-card class="profile-education-content">
			<mat-card-title><i class="fas fa-user-graduate"></i>  Education</mat-card-title>
			<mat-card-content class="texts">
				<div *ngFor="let education of educations" class="experience-content">
				<div class="content">
					<div class="employment">
					<h5>{{ education.graduated }}</h5>
				</div>
				<div class="info">
					<h3>{{ education.school }}</h3>

					<div class="company">
						<div class="company-info">
							<h4>
								{{ education.degree }} |   
							</h4>
							<h4>   {{ education.location }}
							</h4>
						</div>
					</div>
				</div>
				</div>
			</div>

			</mat-card-content>
			
		</mat-card>

	</div>

	<div class="profile-education">
		
		<mat-card class="profile-education-content">
			<mat-card-title><i class="fas fa-street-view"></i>  Skills</mat-card-title>
			<mat-card-content class="texts">
				<div *ngFor="let skill of skills" class="experience-content">
				<div class="content">
					<div class="employment">
					<h5>{{ skill.mastery }}</h5>
				</div>
				<div class="info">
					<div class="company">
						<div class="company-info">
							<h4>
								{{ skill.list }}
							</h4>
						</div>
					</div>
				</div>
				</div>
			</div>

			</mat-card-content>
			
		</mat-card>

	</div>
	<div class="profile-education">
		
		<mat-card class="profile-education-content">
			<mat-card-title><i class="fas fa-info-circle"></i>  Additional Information</mat-card-title>
			<mat-card-content class="texts">
				<div *ngFor="let additional of additionals" class="experience-content">
				<div class="content">
					<div class="employment">
					<h5>{{ additional.name }}</h5>
				</div>
				<div class="info">
					<div class="company">
						<div class="company-info">
							<h4>
								{{ additional.info }}
							</h4>
						</div>
					</div>
				</div>
				</div>
			</div>

			</mat-card-content>
			
		</mat-card>

	</div>

	<div class="profile-education">
		<mat-card class="profile-education-content">
			<mat-card-title><i class="fas fa-user-tie"></i>  About Me</mat-card-title>
			<mat-card-content class="texts">
				<div *ngFor="let about of abouts" class="experience-content">
				<div class="content">
					<div class="employment">
					<h5>{{ about.name }}</h5>
				</div>
				<div class="info">
					<div class="company">
						<div class="company-info">
							<h4>
								{{ about.info }}
							</h4>
						</div>
					</div>
				</div>
				</div>
			</div>
			</mat-card-content>
		</mat-card>

	</div> -->
</div>

<div class="mt-2 pt-4 footer">
<div class="container">
  <div class="row">
    <div class="col-lg-5 col-xs-12 about-company">
      <h2>On Job Ph</h2>
      <p class="pr-5 text-white-50">Welcome to your professional community. Find the job or intership that suits you.</p>
      <p><a href="#"><i class="fab fa-facebook-square mr-1"></i></a><a href="#"><i class="fab fa-linkedin"></i></a></p>
    </div>
    <div class="col-lg-3 col-xs-12 links">
      <h4 class="mt-lg-0 mt-sm-3">Explore</h4>
        <ul class="m-0 p-0">
          <li>- <a href="#">On Ph</a></li>
          <li>- <a href="#">About Us</a></li>
          <li>- <a href="#">Terms of Use</a></li>
          <li>- <a href="#">Privacy Policy</a></li>
          <li>- <a href="#">Job Search</a></li>
          <li>- <a href="#">How to Use?</a></li>
        </ul>
    </div>
    <div class="col-lg-4 col-xs-12 location">
      <h4 class="mt-lg-0 mt-sm-4">Location</h4>
      <p>Sitka, United States</p>
      <p class="mb-0"><i class="fa fa-phone mr-3"></i>(541) 754-3010</p>
      <p><i class="fas fa-envelope mr-3"></i>info@onph.com</p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col copyright">
      <p class=""><small class="text-white-50">© 2019. All Rights Reserved.</small></p>
    </div>
  </div>
</div>
</div>

</div>